<div class="dropdown">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Filter By Program
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for row in rows %}
            {{ row.content}}
        {% endfor %}
    </div>
</div>
