#block-campuschampionsbannerblock {
    width: 100%;
    background: rgb(88,139,177);
    background: -moz-radial-gradient(circle, rgba(88,139,177,1) 0%, rgba(70,110,140,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(88,139,177,1) 0%, rgba(70,110,140,1) 100%);
    background: radial-gradient(circle, rgba(88,139,177,1) 0%, rgba(70,110,140,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#588bb1",endColorstr="#466e8c",GradientType=1);
    color: #ffffff;
    padding: 30px;
    padding-bottom: 15px;
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,.3);
    margin-bottom: 50px;
}
.cc-title {
    font-size: 1.8rem;
    font-weight: 500;
}
.cc-separator {
    width: 300px;
    border: 1px solid #fff;
    margin: 10px auto 10px;
}
.subtitle {
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.cc-card {
    padding: 15px;
    margin: auto;
}
.cc-category {
    max-width: 160px;
}
.cc-num {
    font-size: 36px;
}