.campus-champions .region-specific:not(.display-campus-champions) { display: none !important; }
.careers-cyberteam .region-specific:not(.display-careers) { display: none !important; }
.great-plains-cyberteam .region-specific:not(.display-great-plains) { display: none !important; }
.kentucky-cyberteam .region-specific:not(.display-kentucky) { display: none !important; }
.mines-cyberteam .region-specific:not(.display-mines) { display: none !important; }
.northeast-cyberteam .region-specific:not(.display-northeast) { display: none !important; }

.campus-champions .hide-campus-champions { display: none !important; }
.careers-cyberteam .hide-careers { display: none !important; }
.great-plains-cyberteam .hide-great-plains { display: none !important; }
.kentucky-cyberteam .hide-kentucky { display: none !important; }
.mines-cyberteam .hide-mines { display: none !important; }
.northeast-cyberteam .hide-northeast { display: none !important; }

body:not(.logged_in) .authenticated-only { display: none !important; }
body.logged_in .anon-only { display: none !important; }

/* set fonts */
.museo-sans{font-family:"museo-sans",sans-serif;}
.museo-slab{font-family:"museo-slab",serif;}
/* standard elements */
html, body {
  height: 100%;
}
body {
  font-size: 1rem;
  color: #222222;
  font-family: 'museo-sans', sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .container.main-container { max-width: 80% !important; }
}
.wrapper {
  flex: 1 0 auto;
}
p { line-height: 1.5; }
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: 'museo-sans', sans-serif;
  letter-spacing: 0.02em;
}
h1, h2 { font-size: 1.5rem; }
h3, h4 { font-size: 1.2rem; }
h5, h6 { font-size: 1rem; }
a {
  color: #30363d;
  transition: all 0.25s;
}
a:focus, a:hover {
  text-decoration: none;
  color: #656565;
}
blockquote {
  font-style: italic;
  color: #30363d;
}
.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}
.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
::-moz-selection,
::selection {
  color: #ffffff;
  background: #30363d;
  text-shadow: none;
}
img::selection,
img::-moz-selection {
  color: #ffffff;
  background: transparent;
}
.bg-charcoal {
  background: #30363d;
  color: #ffffff;
}
.mt-n25 {
  margin-top: -2.5rem !important;
}
.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'museo-sans', sans-serif;
  margin-bottom: 10px;
}
@media screen and (max-width: 575.98px) {
  .btn-sm-block {
    display: block;
    width: 100%;
  }
}
.btn-pill { border-radius: 50px !important; }
.btn-sm { padding: 5px 15px; }
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-primary {
  color: #ffffff;
  background-color: #30363d;
  border-color: #30363d;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #ffffff;
  background-color: #656565 !important;
  border-color: #656565 !important;
}
.btn-success {
  color: #ffffff;
  background-color: #30363d;
  border-color: #30363d;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  color: #ffffff;
  background-color: #656565 !important;
  border-color: #656565 !important;
}
.btn-outline-primary {
  color: #30363d !important;
  border-color: #30363d !important;
}
.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #30363d !important;
  border-color: #30363d !important;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #30363d !important;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #ffffff !important;
  background-color: #30363d !important;
  border-color: #30363d !important;
}
.btn-outline-success {
  color: #30363d !important;
  border-color: #30363d !important;
}
.btn-outline-success:hover {
  color: #ffffff !important;
  background-color: #30363d !important;
  border-color: #30363d !important;
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #30363d !important;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #ffffff !important;
  background-color: #30363d !important;
  border-color: #30363d !important;
}
.btn-outline-light {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-outline-light:hover {
  color: #656565 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.btn-outline-light.disabled, .btn-outline-light:disabled { color: #ffffff !important; }
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #656565 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.img-buttons a:hover img {
  filter: drop-shadow(1px 1px 4px rgba(101,101,101,0.5));
}

/* navigation */
.navbar {
  background-color: #ffffff !important;
  font-family: 'museo-sans', sans-serif;
}
.navbar .container {
  max-width: 100% !important;
}
.navbar-brand > * {
  font-family: 'museo-sans', sans-serif !important;
  font-style: normal;
  font-weight: 400;
}
.navbar-brand h1 {
  font-size: 2rem;
}
.navbar .navbar-brand {
  font-weight: 800;
  color: #30363d;
}
.navbar .navbar-toggler {
  font-size: 16px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  outline: none !important;
  border-color: none;
  border: none;
  box-shadow: none;
  color: #30363d;
}
.navbar .navbar-nav > li.nav-item > a,
.navbar .dropdown-item {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.logo {
  float: left;
  max-width: 150px;
  min-width: 150px;
  width: 100% !important;
  padding: 5px;
  margin: auto 0;
  display: inline-block;
  vertical-align: middle;
}
.navbar li.nav-item a.nav-link {
  color: #30363d;
  text-decoration: none;
  padding: 5px 15px;
}
.navbar li.nav-item a.nav-link:hover { color: #656565; }
.navbar li.nav-item a.dropdown-item:hover { color: #656565; }
li.dropdown-item {
  float: left;
  line-height: initial;
  padding: 0;
}
li.dropdown-item a.nav-link {
  display: block;
  padding: 0;
  clear: both;
  line-height: initial !important;
  white-space: nowrap;
}
li.dropdown-item a.nav-link:active {
  background-color: none !important;
}
.dropdown-item:active, .dropdown-item:hover { background-color: transparent; }
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: none !important;
  overflow: hidden;
  opacity: 0;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
  margin-right: -1px;
}
.dropdown:hover .dropdown-menu {
  max-height: 300px;
  opacity: 1;
  display: block !important;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu {
  min-width: 0;
  padding: .5rem 0 .5rem 0;
  text-align: left;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.fixed-top { position: relative; z-index:50; }
.fixed-top.scrolled { position: fixed; }

/* secondaryNav */
#secondaryNav .navbar-toggler {
  color: #ffffff;
  font-size: 0.6em;
}
#secondaryNav li.nav-item > a {
  font-size: 0.6em;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
#secondaryNav a.dropdown-item {
  font-size: 0.6em;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#secondaryNav li.nav-item > a:hover {
  color: #999999;
}
#secondaryNav.navbar {
  background-color: #30363d !important;
  height: auto !important;
  width: 100%;
  text-align:center;
  z-index: 51;
}
#secondaryNav.scrolled { min-height: 90px; }
@media screen and (max-width: 991.98px) {
  .navbar .container { max-width: 100% !important; }
  .navbar-brand .logo {
    width: 100% !important;
    margin-right: -4rem;
    padding-right: 0;
  }
  @media screen and (max-width: 575.98px) {
    .navbar-brand { margin-right: -7rem; }
    .navbar-brand .logo {
      width: auto !important;
      max-width: 240px !important;
    }
  }
  .navbar li.nav-item a.nav-link {
    line-height: initial;
    float: left;
  }
  .navbar, .navbar-nav {
    background-color: #ffffff;
    margin: 0 !important;
    height: auto !important;
  }
  .navbar-toggler { padding: 0.25rem 0rem; }
  .dropdown .dropdown-menu {
    display: block !important;
    opacity: 1;
    max-height: initial;
    overflow: initial;
  }
  .dropdown-menu .dropdown-item a {
    margin-left: 15px;
    display: block;
    padding: 2px;
    border-radius: 4px;
    padding-left: 5px;
    line-height: initial;
    float: left;
  }
  .navbar li.nav-item a.dropdown-item { color: #30363d; }
  .navbar li.nav-item a.dropdown-item:hover { color: #656565 !important; }
  .dropdown-menu {
    position: relative;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: inherit;
    -webkit-background-clip: initial;
    background-clip: initial;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-collapse { margin: 0 -1rem; }
  #secondaryNav.navbar li.nav-item a.nav-link {
    padding: 0px 15px !important;
  }
  #secondaryNav .navbar, #secondaryNav .navbar-nav {
    background-color: #30363d !important;
  }
  #secondaryNav a.dropdown-item {
    color: #ffffff;
    padding: 0px 25px !important;
  }
}

/* search */
#search {
  width: initial;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
#search:focus {
  width: 400px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

/* header - banner images, carousel */
header.masthead {
  background: no-repeat center center;
  background-color: #30363d;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #30363d;
  opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .site-heading {
  padding: 50px 0 45px;
  min-height: 200px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .site-heading {
    padding: 150px 0;
    min-height: 400px;
  }
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'museo-sans', sans-serif;
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

/* form overrides */
#edit-tags .form-group { margin-bottom: auto !important; }
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'museo-sans', sans-serif;
}
.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'museo-sans', sans-serif;
}
.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}
.floating-label-form-group .help-block { margin: 15px 0; }
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label { color: #30363d; }
form .form-group:first-child .floating-label-form-group { border-top: 1px solid #e6e7e8; }

/* card overrides */
.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.img-row .card-img-top {
  width:100%;
  height:12vw;
  object-fit: contain;
}
@media screen and (max-width: 767.98px) {
  .img-row .card-img-top {
    width:100%;
    height:40vw;
    object-fit: contain;
  }
}
.card small { font-size: 0.8rem; }
p.card-text { margin-top: 0; }
.row.projects .card-img-overlay {
  overflow: hidden;
  background-color: rgba(0,0,0,0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.row.projects .card-img-overlay > * {
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.row.projects .card:hover .card-img-overlay > * { opacity: 1; }
.row.projects .card:hover .card-img-overlay { display: initial !important; background-color: rgba(0,0,0,0.4) !important; }
.rotate-on-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.rotate-on-hover:hover {
  transform: rotate(-1deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.sidebar-ul { margin-bottom: 0px; }
.sidebar-ul > li {
  font-size: 1em;
  padding-bottom: 2px;
}
.sidebar-ul > li > a {
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s;
}
.sidebar-ul > li > a:hover {
  color: #30363d;
}
.sidebar-ul .bi-bug {
  font-size: 1.05em !important;
}

/* footer */
footer p { margin: 10px 0; }
footer .list-inline {
  margin: 0;
  padding: 0;
}
.footer .copyright {
  font-size: 14px !important;
  margin-bottom: 0;
  text-align: center;
}
.footer .copyright a { color: #ffffff; }
.footer .copyright a:hover { color: #999999; }
.footer {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer h4 {
  font-weight: 600;
  margin-top: 10px;
  font-family: 'museo-sans', sans-serif;
}
.footer-main { background: #30363d; }
.footer-sub {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #222222;
  margin-top: -1px;
}
.footer-sub p { font-size: 13px !important; }
.footer-sub a { transition: all 0.25s; }
.footer-sub a:hover { color: #999999 !important; }
.footer-main > div.row,
.footer-sub > div.row {
  max-width: 1200px;
  margin: 0 auto;
}
ul.footer-links { list-style: none; }
ul.footer-links li { padding-bottom: 5px; }
ul.footer-links li * {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.25s;
}
ul.footer-links li:hover * { color: #999999; }
.footer-socialmedia { padding-left: 5px; }
.footer-socialmedia i {
  padding-right: 5px;
  font-size: 30px;
  transition: all 0.25s;
  color: #ffffff;
}
.footer-socialmedia i:hover { color: #999999; }
.list-group > .list-group-item > .bi-chevron-right { float: right; }
.footer-main {
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
@media screen and (max-width: 767.98px) {
  .footer-main {
    background-size: 768px;
    background-position: left bottom;
  }
}

/* front flex */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: nowrap;
  flex-flow: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 2px 8px #999999;
  margin-bottom: 25px;
  flex-shrink: 0;
}
.flex-image { flex-shrink: 0; }
.flex-image img {
  border-radius: 4px 0px 0px 4px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: left;
  cursor: pointer;
}
.flex-image img:hover {
  transition: opacity 1s;
  opacity: 0.6;
}
.flex-preview {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.flex-content {
  height: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex-content h5 {
  margin-top: 10px;
  font-size: 1.2em;
}
.flex-content p {
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.flex-data {
  margin-top: 10px;
  color: gray;
  font-size: 0.8rem;
  align-self: flex-end;
}
@media screen and (max-width: 575.98px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
  }
  .flex-image img {
    border-radius: 4px 4px 0px 0px;
    max-width: 100%;
    width: 100% !important;
    height: auto;
    object-fit: cover;
    text-align: center;
  }
  .flex-data {
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
    display: block;
  }
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item  {
    margin-right: initial !important;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
#edit-region--wrapper > div {
  float: left !important;
  margin-right: 1.5rem!important;
}

form[id^="views-exposed-form-people"] .form-checkbox,
form[id^="views-exposed-form-resources"] .form-checkbox {
  display: none;
}
form[id^="views-exposed-form-people"] label.option,
form[id^="views-exposed-form-resources"] label.option {
  font-size: 10px;
  font-weight: 700;
  padding: 5px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'museo-sans',sans-serif;
  margin-bottom: 10px;
  background-color: #30363d;
  border-color: #30363d;
  color: #ffffff;
}
form[id^="views-exposed-form-people"] label:hover,
form[id^="views-exposed-form-people"] label:focus,
form[id^="views-exposed-form-people"] label:active,
form[id^="views-exposed-form-resources"] label:hover,
form[id^="views-exposed-form-resources"] label:focus,
form[id^="views-exposed-form-resources"] label:active {
  color: #ffffff;
  background-color: #656565;
  border-color: #656565;
  cursor: pointer;
}
form[id^="views-exposed-form-people"] input:checked + label,
form[id^="views-exposed-form-resources"] input:checked + label {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}

.form-required:after {
  content: " *";
  font-weight: bolder;
  font-size: 0.65rem;
  color: #E31837;
  vertical-align: super;
}

li.nav-item[domain] { display: none; }
li.nav-item[domain~="all"] { display: initial !important; }
.careers-cyberteam li.nav-item[domain~="careers-cyberteam"] { display: initial !important; }
.great-plains-cyberteam li.nav-item[domain~="great-plains-cyberteam"] { display: initial !important; }
.kentucky-cyberteam li.nav-item[domain~="kentucky-cyberteam"] { display: initial !important; }
.mines-cyberteam li.nav-item[domain~="mines-cyberteam"] { display: initial !important; }
.northeast-cyberteam li.nav-item[domain~="northeast-cyberteam"] { display: initial !important; }

a.map-careers { fill: #0f4d92; }
a.map-great-plains { fill: #A0AF32; }
a.map-kentucky { fill: #0033a0; }
a.map-mines { fill: #92A2BD; }
a.map-northeast { fill: #8473d2; }

a[class^="map-"]:hover { fill: #656565; }

.toolbar-tab a { color: #fff !important; }
.toolbar-tray a { color: #000 !important; }

.above-stretched-link { z-index: 1; position: relative; }
