includes:
    - web/modules/custom/access/phpstan-baseline.neon
    - web/modules/custom/access/modules/access_affinitygroup/phpstan-baseline.neon
    - web/modules/custom/access/modules/access_events/phpstan-baseline.neon
    - web/modules/custom/access/modules/access_misc/phpstan-baseline.neon
    - web/modules/custom/access/modules/user_profiles/phpstan-baseline.neon
    - web/modules/custom/access/modules/access_badges/phpstan-baseline.neon
    - web/modules/custom/access/modules/access_llm/phpstan-baseline.neon
    - web/modules/custom/access/modules/access_news/phpstan-baseline.neon
    - web/modules/custom/access/modules/ccmnet/phpstan-baseline.neon
    - web/modules/custom/access/modules/access_cilink/phpstan-baseline.neon
    - web/modules/custom/access/modules/access_match_engagement/phpstan-baseline.neon
    - web/modules/custom/access/modules/cssn/phpstan-baseline.neon
    - web/modules/custom/access/modules/ticketing/phpstan-baseline.neon
