// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.1/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

.bg-dark-teal {
    background-color: var(--bs-dark);
}
.bg-med-teal {
    background-color: var(--bs-secondary);
}
.bg-light-teal {
    background-color: var(--bs-teal);
}
.section {
    padding: 50px 0px;
}
.section .col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section .content-box {
    text-align: left;
    padding: 30px;
}
.region-title-banner {
    padding: 30px 0 ;
    background-color: var(--bs-dark);

    .field--name-field-subtitle {
        text-align: center;
        color: var(--bs-light);
    }
    .page-title {
        margin: 0;
        color: var(--bs-light);
    }
}
.navbar {
    padding: 0;
}
.nav-item {
    padding: 4px 24px;
}
ul.sf-menu {
    a, .menuparent {
        color: #ffffff;
        text-decoration: none;
    }
}
#superfish-access-universal-nav-menu, #superfish-access-additional-universal-menu {
    li:hover {
        background-color: var(--bs-secondary);
    }
    ul {
        background-color: var(--bs-secondary);
        top: 3em;
        li:hover {
            background-color: var(--bs-dark);
        }
    }
}
#superfish-access-secondary-menu {
    li:hover {
        background-color: var(--bs-light);
        a, .menuparent {
            color: var(--bs-dark);
        }
    }
    ul {
        background-color: var(--bs-light);
        top: 3em;
        li a {
            color: var(--bs-dark);
        }
        li:hover {
            background-color: var(--bs-dark);
            a {
                color: var(--bs-light);
            }
        }
    }
}
ul.sf-menu.sf-horizontal.sf-shadow ul, ul.sf-menu.sf-vertical.sf-shadow ul, ul.sf-menu.sf-navbar.sf-shadow ul ul {
    -webkit-box-shadow: 2px 12px 12px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 12px 12px rgba(0,0,0,0.3);
    box-shadow: 2px 12px 12px rgba(0,0,0,0.3);
}
.region-nav-main, .region-nav-additional {
    .nav-link {
        color: var(--bs-light);
    }
    .nav-item:hover {
        background-color: var(--bs-light);
        .nav-link {
            color: var(--bs-dark);
        }
    }
}
.menu--access-secondary-menu {
    .nav-link {
        color: var(--bs-dark);
    }
    .nav-item:hover {
        background-color: var(--bs-dark);
        .nav-link {
            color: var(--bs-light);
        }
    }
}
.text-center .section-subtitle {
}
.text-constrained {
    max-width: 640px;
    margin: 0 auto;
}
.icon-horizontal {
    display: flex;
    align-items: center;
}
.icon-horizontal > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
}
.section ul {
    padding-left: 0;
}
.section li {
    list-style: none;
}
.icon-box {
    max-width: 240px;
    padding: 20px;
    margin: 20px 30px;
    justify-content: center;
}
.icon-box svg {
    height: 64px;
    margin-bottom: 12px;
}
.icon-box img {
    width: 100%;
    max-height: 120px;
    object-fit: contain;
}
.btn, .button, a.button {
    width: fit-content;
}
@media (max-width: 800px) {
    .sui-layout-sidebar-toggle {
        display: block !important;
    }
}