// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.1/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

$lightgreen: #ecf9f8;

.bg-dark-teal {
    background-color: var(--bs-dark);
}
.bg-med-teal {
    background-color: var(--bs-secondary);
}
.bg-light-teal {
    background-color: var(--bs-teal);
}
.bg-orange {
    background-color: var(--bs-orange);
}
.bg-light {
    background-color: var(--bs-light) !important;
}
/* typography */
h1 {
    @include font-size(36px);
    font-weight: 500;
}
h2 {
    @include font-size(23px);
    font-weight: 700;
}
h3 {
    @include font-size(20px);
    font-weight: 700;
    color: var(--bs-dark);
}
h4 {
    @include font-size(18px);
    font-weight: 700;
    color: var(--bs-dark);
}
h5 {
    @include font-size(18px);
    font-weight: 600;
    color: var(--bs-dark);
}
.btn {
    border-radius: 0;
}
.region-sidebar-second {
    margin-top: 70px;
}
.region-content .btn {
    border-radius: 0;
}
.region-content a {
    color: #000000;
    font-weight: 700;
}
.subtitle {
    font-size: 0.9rem;
    font-weight: 600;
}
img, iframe {
    max-width: 100%;
}
.fit-content {
    width: fit-content;
}
.section {
    padding: 50px 0px;
    
    .col, .col-12 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .content-box {
        text-align: left;
        padding: 30px;

        .svg-inline--fa {
            margin: 0.75rem;
            font-size: 42px;
            width: 42px;
        }

        h4 {
            margin-bottom: 0;
        }

        li {
            margin-bottom: 24px;
        }
    }
}
.region-title-banner {
    padding: 30px 0 ;
    background-color: var(--bs-dark);

    .field--name-field-subtitle {
        text-align: center;
        color: var(--bs-light);
    }
    .page-title {
        margin: 0;
        color: var(--bs-light);
    }
}
.navbar {
    padding: 0;
    a {
        color: #ffffff;
        text-decoration: none;
    }
}
.navbar-brand {
    img {
        margin: 10px 0px 5px 0px;
    }
}
.nav-item {
    padding: 4px 24px;
}
ul.sf-menu {
    a, .menuparent {
        color: #ffffff;
        text-decoration: none;
    }
    a.is-active {
        color: var(--bs-dark) !important;
        background-color: var(--bs-light) !important;
    }
}
#superfish-access-universal-nav-menu, #superfish-access-additional-universal-menu {
    li:hover, li.active-trail  {
        background-color: var(--bs-secondary);
    }
    a.is-active {
        color: var(--bs-light);
    }
    ul {
        background-color: var(--bs-secondary);
        top: 3em;
        li:hover {
            background-color: var(--bs-dark);
        }
    }
    
}
#superfish-access-secondary-menu {
    li:hover, li.active-trail {
        background-color: var(--bs-light);
        a, .menuparent {
            color: var(--bs-dark);
        }
    }
    ul {
        background-color: var(--bs-light);
        top: 3em;
        li a {
            color: var(--bs-dark);
        }
        li:hover {
            background-color: var(--bs-dark);
            a {
                color: var(--bs-light);
            }
        }
    }
}
ul.sf-menu.sf-accordion li.sf-depth-2 {
    margin-left: 40px;
    list-style: disclosure-closed;
    padding-left: 0;

    a {
        padding-left: 12px;
    }
}

.sf-accordion-toggle {
    padding: 4px;
}
ul.sf-menu.sf-horizontal.sf-shadow ul, ul.sf-menu.sf-vertical.sf-shadow ul, ul.sf-menu.sf-navbar.sf-shadow ul ul {
    -webkit-box-shadow: 2px 12px 12px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 12px 12px rgba(0,0,0,0.3);
    box-shadow: 2px 12px 12px rgba(0,0,0,0.3);
}
.region-nav-main, .region-nav-additional {
    .nav-link {
        color: var(--bs-light);
    }
    .nav-item:hover {
        background-color: var(--bs-light);
        .nav-link {
            color: var(--bs-dark);
        }
    }
}
.menu--access-secondary-menu {
    .nav-link {
        color: var(--bs-dark);
    }
    .nav-item:hover {
        background-color: var(--bs-dark);
        .nav-link {
            color: var(--bs-light);
        }
    }
}
.text-constrained {
    max-width: 640px;
}
.icon-horizontal {
    display: flex;
    align-items: center;
}
.icon-horizontal > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
}
.section ul {
    padding-left: 0;
}
.section li {
    list-style: none;
}
.icon-box {
    max-width: 240px;
    padding: 20px;
    margin: 20px 30px;
    justify-content: center;
}
.icon-box.boxed {
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 2px 4px 12px rgba(0,0,0,0.3);
}
.icon-box svg {
    height: 64px;
    margin-bottom: 12px;
}
.icon-box img {
    width: 100%;
    max-height: 120px;
    object-fit: contain;
}
.btn, .button, a.button {
    width: fit-content;
    font-weight: 700;
}
.btn a {
    text-decoration: none !important; 
}
.btn-outline-secondary a {
    font-size: 500 !important;
    color: var(--bs-secondary);
}
.btn-outline-secondary:hover a {
    color: var(--bs-light) !important;
}
@media (max-width: 800px) {
    .sui-layout-sidebar-toggle {
        display: block !important;
    }
}
.path-user-login {
    #block-accesstheme-local-tasks {
        display: none;
    }
    .user-login-form {
        display: none;
    }
    .cilogon-auth-login-form {
        display: flex;
        justify-content: center;
        padding-top: 50px;

        #cilogon-auth-login-group {
            display: flex;
            flex-direction: column;
            align-items: center;

            #cilogon-auth-login-suffix {
                margin-top: 50px;
            }
        }
    }
}
/* Search */
.sui-search-box {
    max-width: 640px;
    margin: auto;
    .sui-search-box__text-input {
        border-radius: 0;
    }
    .sui-search-box__submit {
        @extend .btn, .btn-primary;
        background: none;
        background-color: var(--bs-primary);
        box-shadow: none;
    }
    .sui-search-box__submit:hover {
        background: none;
        background-color: var(--primary-hover);
        box-shadow: none;
    }
}
.sui-layout-body__inner {
    background-color: var(--light-green);
    .sui-result__title {
        @extend h3;
    }
}
.card.teal {
    background-color: var(--bs-dark);
    color: #ffffff;
    border: 2px solid var(--bs-dark);
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;

    .card-body {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 25% 1rem 0 1rem;
        .card-title {
            color: #ffffff;
        }
    }

    .btn-outline-light {
        color: var(--bs-light) !important;
    }
}
.card.teal:hover {
    background-color: var(--bs-light);
    color: var(--bs-dark) !important;
    border-color: var(--bs-dark);

    .btn-outline-light, .card-title {
        color: var(--bs-dark) !important;
        border-color: var(--bs-dark);
    }
}
/* engagements */
#block-views-block-match-engagement-view-block-1, #block-views-block-match-engagement-view-block-2, #block-views-block-match-engagement-view-block-3, #block-views-block-match-engagement-view-block-4, #block-views-block-match-engagement-view-block-1-2, .view-affinity-group {
    padding: 50px 0;
    text-align: center;
    > div {
        text-align: left;
    }
    .more-link {
        @extend .btn, .btn-primary;
        display: flex;
        margin: 0 auto !important;
        a { text-decoration: none; }
    }
}
.card {
    border-radius: 0;
    .card-photo {
        position: relative;
        
        .engagement-status {
            position: absolute;
            top: 0;
            background: var(--bs-orange);
            color: var(--bs-light);
            padding: 0.25rem 0.75rem;
        }
    }
    .card-footer {
        background-color: var(--bs-light);
    }
}
.field--type-text-with-summary {
    padding-top: 1rem;
}
.field--name-field-tags {
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        li {
            background-color: var(--bs-light);
            padding: 3px 6px;
            border-radius: 12px;
            font-size: 0.8rem;
        }
    }
}
/* Affinity Groups */
.view-affinity-group .view-content {
    display: flex;
    flex-wrap: wrap;
    .card {
        background-color: transparent;
        h1 {
            display: none; // title is in title bar above
        }
        .list-group-item {
            background-color: transparent;
        }
        #people {
            display: none;
        }
    }
}
#block-views-block-affinity-group-block-6 {
    .view-affinity-group .view-content {
        justify-content: space-between;
        .card {
            max-width: 480px;
            width: 32%;
            img {
                width: 100%
            }
        }
    }
}
/* ticketing */
.webform-submission-rt-ticketing-system-form, .webform-submission-account-assistance-form {
    max-width: 480px;
    margin: auto;
}
/* join CSSN webform */
#webform-submission-join-the-cssn-network-add-form, #webform-submission-type-of-proposal-support-add-form {
    max-width: 480px;
    margin: auto;
}

/* news */
.view-access-news {
    max-width: 640px;
    margin: auto;
    .views-field-title {
        margin: 10px 0 15px 0;
        font-size: 1.8rem;
    }
    .views-field-view-node {
        margin-top: 10px;
    }
    .views-row {
        margin-bottom: 50px;
    }
}
#views-exposed-form-access-news-block-1 .form--inline {
    display: flex;
    align-items: flex-end;
}
.page-node-type-access-news .node--type-access-news {
    max-width: 640px;
    margin: auto;
    .field--name-field-published-date {
        margin: 10px 0 20px 0;
    }
    .views-field-view-node {
        margin-top: 10px;
    }
}
/* outages */
.dataTable {
    font-size: 0.9rem;
    td > p:last-of-type {
        margin-bottom: 0;
    }
}
/* alerts */
.alert {
    margin-top: 1rem;
    &.alert-success {
        color: var(--bs-dark);
        background-color: tint-color($dark, 85%);
        border-color: tint-color($dark, 10%);
    }
}
/* accordion */
.accordion {
    --bs-accordion-color: #000;
    --bs-accordion-bg: #fff;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-btn-color: var(--bs-primary);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-border-color: #8dadb7;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(26, 91, 110, 0.25);
    --bs-accordion-active-color: var(--bs-primary);
    --bs-accordion-active-bg: #e8eff1;
  }
.accordion-button:focus, .accordion-button:not(.collapsed) {
    border-color: var(--accordion-border-color);
    box-shadow: 0 0 0 0.25rem var(--accordion-box-shadow-color);
    color: var(--accordion-active-color);
    background-color: var(--accordion-active-bg);
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

