<div class="col-lg-6 col-md-8 mx-auto text-center card my-4">
    <div class="card-body">
        <div id="cilogon-auth-login-suffix">
            <a class="btn btn-danger" href="/user/login/google?destination={{ destination_path }}">
                <i class="fa fa-google"></i>
                Sign in with Google
            </a>
        </div>
    </div>
</div>
