{{ attach_library('campuschampions/assets') }}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="cc-title">Campus Champions<span> are changing the world.</span></h2>
            <div class="cc-separator"></div>
            <div class="subtitle">
                Collaboratively employing advanced computing and data to tackle society's grand challenges
            </div>
            <div class="d-flex justify-content-center flex-wrap">
                <div class="cc-card">
                    <div class="cc-category">
                        Champions Nationionwide
                    </div>
                    <div id="cc-nationwide" class="cc-num odometer">
                        0
                    </div>
                </div>
                <div class="cc-card">
                    <div class="cc-category">
                        Institutions Represented
                    </div>
                    <div id="cc-institutions" class="cc-num odometer">
                        0
                    </div>
                </div>
                <div class="cc-card">
                    <div class="cc-category">
                        Institutions in EPSCoR States
                    </div>
                    <div id="cc-epscor" class="cc-num odometer">
                        0
                    </div>
                </div>
                <div class="cc-card">
                    <div class="cc-category">
                        Minority Serving Institutions
                    </div>
                    <div id="cc-msi" class="cc-num odometer">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

