@import url("../../../nect-theme/css/style.css");

.open-ondemand {
  position: relative;
  .masthead {
    .container {
      margin: 0 15px;
      max-width: 100%;
    }
    .site-heading {
      padding: 30px 0;
    }

    h2 {
      font-size: 1.8em;
      text-align: left;
    }
  }
  .masthead:after {
    content: "";
    position: absolute;
    right: -205px;
    top: -50px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #fff;
  }
}

