<div class="col-lg-6 col-md-8 mx-auto text-center card my-4">
  <div class="card-body">
    <p>Use the button below to log in with your institution's SSO via CILogin/InCommon</p>
    {{ content }}
  </div>
</div>
