<div class="dropdown">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-right: 10px; padding-left: 0px; margin-bottom: 0;">
       Filter By Program
    </a><a href="https://cnct.ci/"><i class="bi bi-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Click here to read more about ConnectCI programs"></i><span class="sr-only">Read more about ConnectCI programs</span></a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for row in rows %}
            {{ row.content}}
        {% endfor %}
    </div>
</div>
