{#
/**
 * @file
 * Theme override to display a Recommended Resource node.
 */
#}

<article>
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content.field_cider_resource }}
    {{ content.body }}
  </div>
</article>
