name: (A) Files to artifact
on:
  schedule:
    - cron:  '16 00 * * *'
jobs:
  build:
    name: Grab files backup and clean it out a bit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./.github/actions/dingorunner
        env:
          runner: bkup-files
          terminus_api: ${{ secrets.TERMINUS_API }}
          SSH_PRIVATE_KEY: ${{ secrets.PANTHEON_DEPLOY_KEY}}
          site_name: ${{ secrets.TERMINUS_SITE_NAME }}
          env: live
      - name: 'Upload Backup Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: amp-file-backup
          path: files_live
          retention-days: 5
