name: (M) Behat Tests
on:
  pull_request:
  workflow_dispatch:
    inputs:
      database:
        description: 'Recent database dump to use'
        required: true
        default: 'artifact'
      sites:
        description: 'Specify which sites to test or leave blank to run all tests'
permissions:
  actions: read
jobs:
  build:
    name: Run updates
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Install Lando
        run: |
          sudo curl -fsSL -o /usr/local/bin/lando "https://files.lando.dev/cli/lando-linux-x64-v3.6.5"
          sudo chmod +x /usr/local/bin/lando
      - name: Setup Lando cache
        uses: actions/cache@v2
        with:
          path: ~/.lando/cache
          key: ${{ runner.os }}-lando${{ matrix.lando.version }}-${{ github.ref }}
          restore-keys: |
            ${{ runner.os }}-lando${{ matrix.lando.version }}-
      - name: Start Lando
        run: |
          echo "$lando_env" > .env
          echo "GITHUB_TOKEN=$GITHUB_ACTOR:$GITHUB_TOKEN" >> .env
          lando destroy -y
          lando start && lando xdebug-off
        env:
          lando_env: ${{ secrets.LANDO_ENV }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
      - name: Sync DB
        run: |
          mkdir backups
          lando composer self-update
          lando composer config -g github-oauth.github.com $gh_token
          composer config -g github-oauth.github.com $gh_token
          lando composer install --ignore-platform-reqs
          echo "#! /bin/bash
          if [[ '$database' != 'artifact' ]]
          then
            wget -O backups/site.sql.gz '$database'
          else
            lando blt gh:pulldb
          fi" > pull_db.sh
          cat pull_db.sh
          chmod u+x pull_db.sh
          ./pull_db.sh
          rm pull_db.sh
          lando db-import backups/site.sql.gz
          mkdir -p web/sites/default/settings
          cp blt/lando.local.settings.php web/sites/default/settings/local.settings.php
          cd web
          lando drush cr
          lando drush cim -y
          lando drush cr
          cd ..     
          #todo: Grab files later here    
          mkdir web/sites/default/files
          chmod 777 web/sites/default/files
          echo "#! /bin/bash
          if [[ '$database' != 'artifact' ]]
          then
            lando drush sql-sanitize --sanitize-password -y
          fi" > clean_db.sh
          chmod u+x clean_db.sh
          ./clean_db.sh
          rm clean_db.sh
          git branch
        env:
          database: ${{ github.event.inputs.database }}
          drupal_update: ${{ github.event.inputs.drupal_update }}
          gh_token: ${{ secrets.GH_TOKEN_REPO }}
      - name: Run them tests
        run: |
          vendor/bin/blt amp:behat $sites
        env:
          sites: ${{ github.event.inputs.sites }}
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: always()
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: 'success :rocket:'
          SLACK_TITLE: 'Github action: behat'
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: failure()
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: 'fail :octagonal_sign:'
          SLACK_TITLE: 'Github action: behat'
