name: (A) Deploy to dev
on:
  push:
    branches:
      - 'main'
      - 'md-*'
jobs:
  deploy:
    name: Deploy site
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '#nobuild') }}
    steps:
      - uses: actions/checkout@v1
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: necyber-2
        with:
          path: |
            vendor
            web/core
          key: ${{ env.cache-name }}
      - uses: ./.github/actions/dingorunner
        env:
          runner: update
          blt: ./vendor/bin/blt
          SSH_PRIVATE_KEY: ${{ secrets.PANTHEON_DEPLOY_KEY}}
          message: ${{ github.event.head_commit.message }}
          gh_token: ${{ secrets.GH_TOKEN_REPO }}
      - name: Trigger Behat workflow
        if: ${{ contains(github.event.head_commit.message, '#behat') }}
        run: |
          pr=$(cat prnum.txt)
          gh workflow run behat.yml -r "$drupal_update" -f "prnum=$pr"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_REPO }}
          drupal_update: ${{ github.event.inputs.drupal_update }}
