name: (A) Delete Multidev site on PR close
on:
  pull_request_target:
    types: [closed]
jobs:
  delete-pr:
    name: Delete Multidev site on PR close
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Set env GITHUB_REF_MD
        run: echo "GITHUB_REF_MD=$(echo ${{ github.head_ref }} | cut -c 1-3)" >> $GITHUB_ENV

      - name: Set env PR_BRANCH
        run: echo "PR_BRANCH=$(echo ${{ github.head_ref }})" >> $GITHUB_ENV

      - name: Test Variable
        run: |
          echo $GITHUB_REF_MD
          echo $PR_BRANCH

      - uses: ./.github/actions/dingorunner
        if: env.GITHUB_REF_MD == 'md-'
        env:
          runner: deletepr
          PR_BRANCH: ${{ env.PR_BRANCH }}
          SSH_PRIVATE_KEY: ${{ secrets.PANTHEON_DEPLOY_KEY}}
          terminus_api: ${{ secrets.TERMINUS_API }}

      - name: Recreate md-dev branch
        if: env.PR_BRANCH == 'md-dev'
        run: |
          git checkout main
          git pull origin main
          git checkout -b md-dev
          git push origin md-dev
